configparser==5.0.2
Cython==0.29.22
easydict==1.9
imageio==2.9.0
matplotlib==2.2.3
numpy==1.18.2
onnx==1.9.0
onnxruntime==1.7.0
opencv-python==4.3.0.36
pandas==1.2.3
Pillow==7.1.2
progressbar2==3.53.1
pycocotools==2.0.2
pycryptodome==3.10.1
scikit-image==0.16.2
scikit-learn==0.24.1
scipy==1.6.2
tensorboardX==2.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.43.0
urllib3==1.26.6
Wand==0.6.6
wandb==0.11.2

